color-primary = #005AEE
color-secondary = #33439B
color-accent = #07c1f3

color-text-primary = #303336
color-text-secondary = #7B8591

color-background = #F4F5F7

color-white = #ffffff
color-black = #000000