body, h1, h2, h3, h4, h5, h6, a, p, li, ul
    font-family font-principal
    font-weight inherit
    margin 0
    padding 0

body
    background-color color-background

button
    background-color color-primary
    border none
    border-radius 17px
    color color-white
    float right
    font-size 11px
    font-weight bold
    letter-spacing 2.2px
    opacity 1
    padding 10px 20px
    text-transform uppercase

.card
    background color-white
    box-shadow 0px 3px 10px #00000014
    border-radius 10px
    opacity 1
    margin 30px 15px
    .principal-card
        padding 40px
        .content
            padding 10px
        img
            border-radius 10px
            width 100%
    .single-card
        .content
            padding 20px 40px 40px
        img
            border-radius 10px 10px 0px 0px
            width 100%