body, h1, h2, h3, h4, h5, h6, a, p, li, ul
    font-family font-principal
    font-weight inherit
    margin 0
    padding 0

body
    background-color color-background
button
    background-color color-primary
    border none
    border-radius 17px
    color color-white
    font-size 11px
    font-weight bold
    letter-spacing 2.2px
    opacity 1
    padding 10px 20px
    text-transform uppercase
h1
    color color-text-primary
    font-size 38px
    font-weight bold
    padding 12px 0
h3
    color color-text-primary
    font-size 22px
    font-weight bold
    padding 15px 0
p
    color color-text-secondary
    font-size 14px
    font-weight normal

.button-right
    float right

.card
    background color-white
    box-shadow 0px 3px 10px #00000014
    border-radius 10px
    opacity 1
    margin 30px 15px
    .principal-card
        padding 40px
        .main
            padding 10px
            .content
                padding 0 15px
                .thumb
                    width calc(100% - 10px)
        img
            border-radius 10px
            width 100%
    .single-card
        .main
            padding 20px 40px 40px
        img
            border-radius 10px 10px 0px 0px
            width 100%
        span
            color color-secondary
            font-size 10px
            font-weight bold
            letter-spacing 2px
            text-transform uppercase

.container-image
    position relative
    text-align center
    .image-text
        color color-white
        font-size 25px
        font-weight bold
        position absolute
        top 80%
        left 50%
        transform translate(-50%, -50%)
